# Implementation and Testing Unit

### Demonstrate the use of an array in a program.
Take screenshots of:
- An array in a program
- A function that uses the array

  ![](../screenshots/array_in_program.png)

- The result of the function running

  ![](../screenshots/array_result_of_function.png)



### Demonstrate the use of a hash in a program.
Take screenshots of:
- A hash in a program
- A function that uses the hash

  ![](../screenshots/hash_function.png)

- The result of the function running

  ![](../screenshots/hash_function_output.png)

### Demonstrate searching data in a program.
Take screenshots of:
- Function that searches data

  ![](../screenshots/sorted_data_transactions_function.png)
- The result of the function running

  ![](../screenshots/search_for_cash_output.png)


### Demonstrate sorting data in a program.
Take screenshots of:

- Function that sorts data

  ![](../screenshots/sorted_data_transactions_function.png)
- The result of the function running

  ![](sorted_transactions_output.png)

### Demonstrate the use of Polymorphism in a program.
- TODO


### Take a screenshot of an example of encapsulation in a program.
- TODO

### Demonstrate the use of Inheritance in a program.
Take screenshots of: TODO

- A Class

- A Class that inherits from the previous class

- An Object in the inherited class

- A Method that uses the information inherited from another class


### Coding Exercise: Unit and Integration testing task B
TODO
