# Implementation and Testing Unit

### Demonstrate the use of an array in a program.
Take screenshots of:
- An array in a program
- A function that uses the array

  ![](../screenshots/array_in_program.png)

- The result of the function running

  ![](../screenshots/array_result_of_function.png)



### Demonstrate the use of a hash in a program.
Take screenshots of:
- A hash in a program
- A function that uses the hash

  ![](../screenshots/hash_function.png)

- The result of the function running

  ![](../screenshots/hash_function_output.png)

### Demonstrate searching data in a program.
Take screenshots of:
- Function that searches data

  ![](../screenshots/sorted_data_transactions_function.png)
- The result of the function running

  ![](../screenshots/search_for_cash_output.png)


### Demonstrate sorting data in a program.
Take screenshots of:

- Function that sorts data

  ![](../screenshots/sorted_data_transactions_function.png)
- The result of the function running

  ![](../screenshots/sorted_transactions_output.png)

### Demonstrate the use of Polymorphism in a program.
- the interface which makes polymorphism possible
![](../screenshots/polymorphism_interface.png)
- implementation
![](../screenshots/polymorphism.png)


### Take a screenshot of an example of encapsulation in a program.
- ![](../screenshots/encapsulation.png)

### Demonstrate the use of Inheritance in a program.
Take screenshots of:

- A Class
![](../screenshots/polymorphism.png)

- A Class that inherits from the previous class
![](../screenshots/inheritance.png)

- An Object in the inherited class [use a test file]
  ![](../screenshots/inheritance_child.png)


- A Method that uses the information inherited from another class [in the test file]
  - inherited methods:
  ![](../screenshots/inheritance_parent_methods.png)


### Coding Exercise: Unit and Integration testing task B
- Link to folder containing test files in project
  [Calculator Tests](https://github.com/docljn/ljnoble_pda/tree/master/i_and_t/javascript_calculator/tests)
